:link, :visited, :hover, :focus, :active {
    outline: none !important;
    text-decoration: none !important;
}

html,
body {
    height: 100%;
    background: url("/images/gw.png");
    font-family: Verdana !important;
    color: #DDD !important;
    text-shadow: none !important;
}

form textarea, input, select {
    text-align: left;
    margin: 5px;
    background: linear-gradient(to bottom right,
    #EEE 25%,
    #DDD 50%,
    #CCC 75%,
    #BBB 100%) !important;

    max-width: 550px;

    font: bold italic 16px Tahoma !important;
    color: #000 !important;
    border-radius: 3px;
}

td {
    overflow: hidden;
    max-width: 410px;
    font-size: 14px;
    padding: 1px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica !important;
    color: #AE8;
}

.breadcrumb .active {
    color: #111;
}

.navbar-inverse, .dropdown-menu, .pagination li:not(.active) *, .panel-heading {
    background: linear-gradient(to bottom, #222 25%, #000 100%);
}

.pagination .active * {
    background: linear-gradient(to bottom, #777 25%, #333 100%);
}

.dropdown-menu li a {
    color: #CCC !important;
}

.navbar-inverse * :not(i) {
    font-weight: bold;
    font-size: 14px;
}

.user {
    position: relative;
    top: 7px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #777 25%, #000);
    color: #EEE;
}

.user:hover {

    background: linear-gradient(to bottom, #BBB 25%, #555);
    color: #000;
}

.post .title {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background: linear-gradient(to bottom, #222 25%, #000 100%);
    color: #fe5;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #F0F;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.breadcrumb {
    font-weight: bold;
    background: none !important;
}

.post .author {
    color: #AFC;
    font-size: 8px;
    font-weight: bold;
}

.author-name {
    color: #7F5;
    font-size: 9px;
}

.post {
    margin: 0 0 15px;
}

.post .title a {
    color: #FFF;
}

.post .title a:hover {
    color: #ff5 !important;
}

.post .nav {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: rgba(35, 85, 95, 0.25);
    font-size: 9px;
    margin: 2px;
    max-width: 375px;
}

a {
    color: #09f;
}

a:hover {
    color: #FF0 !important;
}

a:active, .panel-body .btn:active {
    box-shadow: none !important;
    color: #FFA !important;
    text-shadow: 0 1px 2px #fff;
}

.post .content {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 850px;
    color: #000;
    text-shadow: none;
}

.comment {
    border-radius: 30px;
    padding: 16px;
    background-color: rgba(15, 15, 15, 0.35);
    margin: 12px 0;
}

.comment .content {
    margin: 10px 0;
    color: #CFC;
    font-size: 11px;
    font-style: italic;
}

.comment .author {
    margin: 5px 0;
    color: #3F5;
    font-weight: bold;
    padding: 0 0 3px;
    border-bottom: 1px inset #DDD;
    font-size: 0.75em;
}

.comment .time {
    color: #F7d;
    font-size: 0.55em;
}

.comment a.cid {
    color: #B75;
    float: right;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0 5px 5px 5px;
    text-decoration: none;
}

.comment a.cid:hover {
    color: #5f5;
}

.comment .pending {
    color: red;
}

#comment-form .form-group {
    font-size: 12px;
    max-width: 700px;
}

.alert-success {
    text-align: center;
    color: #050 !important;
    font-size: 22px;
}

.date-table, .date-table *, .bets-table, .bets-table * {
    text-align: center;
    border-collapse: inherit;
    border: solid 1px #333 !important;
}

.date-table tbody tr:nth-child(2n+1) {
    background-color: rgba(1, 1, 1, 0.50) !important;
}

.date-table thead td {
    font-weight: bold;
    font-size: 16px;
    color: #000;

}

.action-column {
    display: none;
}

.panel {
    margin-left: 25px;
    border-radius: 16px;
    border: solid 2px #222;
    background: rgba(1, 1, 1, 0.25);
    overflow: hidden;
}

.panel.direct {
    background: rgba(255, 217, 102, 0.5);
    height: 375px;
}

.panel.adwords {
    background: rgba(12, 255, 120, 0.5);
    height: 375px;
}

.panel.date {
    height: 375px;
    background: rgba(1, 1, 1, 0.33);
}

.panel .form-control {
    width: 75%;
    margin: auto;
    text-align: center;
}

.panel-heading {
    border: none;
    height: 45px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    font-weight: bold;
    color: #BBB !important;
}

.panel-body .btn {
    font-weight: bold;
    font-size: 16px;
    background: none;
}

.panel-body .approve {
    font-size: 12px;
}

.panel-body ul {
    font-size: 12px;
    padding: 5px;
}

.date-form .help-block {
    font-size: 8px;
    text-align: center;
}

table .direct {
    background: rgba(255, 217, 102, 0.75);
    color: #FFF;
}

table .adwords {
    background: rgba(12, 255, 120, 0.75);
    color: #FFF;
}

table .total {
    background: rgba(255, 255, 255, 0.65);
    color: #000;
    width: 110px;
}

table .header {
    background: rgba(71, 150, 213, 0.33);
    color: #D4D599 !important;
    padding: 5px !important;
    border: solid 1px #000 !important;

}

select {
    border: solid 3px #4A9;
    font-size: 18px !important;
    padding: 4px;
    position: relative;
    top: -5px;
    width: 195px;
}

table .date {
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    font-size: 14px;
    font-weight: bold;

    width: 125px;
}

table .month-sum td {
    background: rgba(182, 215, 168, 0.85);
    font-weight: bold;
    color: #000;
}

table .month-average td {
    background: rgba(213, 166, 189, 0.85);
    font-weight: bold;
    color: #000;
}

.modal-content {
    background-color: #111;

    padding: 20px;
    border-radius: 25px;
    border: solid 5px #222;
    background: url("/images/gw.png");
    overflow: hidden;
}

.mini-1 {
    background: rgba(234, 209, 220, 0.85);
}

.mini-2 {
    background: rgba(217, 210, 233, 0.85);
}

.mini-3 {
    background: rgba(255, 242, 204, 0.85);
}

.mini-4 {
    background: rgba(217, 234, 211, 0.85);
}

.mini-5 {
    background: rgba(207, 226, 243, 0.85);
}

.mini-6 {
    background: rgba(208, 224, 227, 0.85);
}

.mini-7 {
    background: rgba(159, 197, 232, 0.85);
}

.mini-8 {
    background: rgba(200, 200, 200, 0.85);
}

.mini-9 {
    background: rgba(175, 175, 175, 0.85);
}

.mini-10 {
    background: rgba(150, 150, 150, 0.85);
}

.mini-table tr {
    color: #000;
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
}